<% include ../partials/header %> 

<h1>Add a new stamp</h1>

<form action='/stamps' method='POST'>
    <input type='text' name='name' placeholder='Name of Stamp'>
    <input type='text' name='hood' placeholder='Neighborhood'>
    <input type='text' name='image' placeholder='Image'>
    <input type='text' name='description' placeholder='Description'>
    <input type='text' name='question' placeholder='Question'>
    <input type='text' name='answer' placeholder='Answer'>
    <button>Submit</button>
</form>

<% include ../partials/footer %> 